@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --green: #800000;
    --black: #2c2c54;
}

@media (min-width: 768px) {
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f7f7f7;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: var(--black);
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: var(--green);
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #d04646;
}



.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this value for desired height */
}

/* Add floating effect to the content */
.floating-content {
    animation: float 3s ease infinite;
}

/* Define the floating animation */
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}
