<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/adminDashboard.css">
</head>
<body>

<img class="adminBack" src= images/homeImg.png alt="">

<div class="sidebar">
    <h1>Admin Panel</h1>
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/showUsers">Users</a></li>
        <li><a href="/products">View Products</a></li>
        <li><a href="/add">Add Products</a></li>
        <li><a href="/deleteProducts">Delete Products</a></li>
    </ul>
</div>
<div class="content">
    <header>
        <h2> <i class="fas fa-shopping-basket"></i> <u>LiqHub</u></h2>
        <button id="logoutButton">Logout</button>
    </header>
    <main>
        <h3>"Wine makes daily living easier, less hurried, with fewer tensions and more tolerance"
            <br>~ Benjamin Franklin</h3>
    </main>
</div>
<script src="/js/admin.js"></script>

</body>
</html>