<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/whiskey.css">
    <title>Whiskey</title>
</head>
<body>
<header>

    <div class="secondHeader">
        <div>
            <h1 class="new">
                <a href="/">liqHub</a>
            </h1>
        </div>

        <div>
            <h2 id="shopBasket"><button id="cart-btn" class="fas fa-shopping-cart" onclick="openCartDialog()"><span
                    id="cart-counter">0</span></button></h2>
        </div>
    </div>
</header>

<section class="product" id="product">
    <h1 class="heading">our <span>whiskey collection</span></h1>
    <div class="boxContain">
        <div class="box">
            <div class="image-container">
                <img src="images/whiskeyCategory/singleton.jpg" alt="">
                <div class="overlay">
                    <p>price</p>
                    <h1>&#8358 21000</h1>
                </div>
            </div>
            <h3>singleton</h3>
            <button class="add-to-cart-btn" data-index="0">Add to Cart</button>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="images/whiskeyCategory/black%20label.jpeg" alt="">
                <div class="overlay">
                    <p>price</p>
                    <h1>&#8358 22000</h1>
                </div>
            </div>
            <h3>black label</h3>
            <button class="add-to-cart-btn" data-index="1">Add to Cart</button>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="images/whiskeyCategory/jack%20daniel.webp" alt="">
                <div class="overlay">
                    <p>price</p>
                    <h1>&#8358 18600</h1>
                </div>
            </div>
            <h3>jack daniel</h3>
            <button class="add-to-cart-btn" data-index="2">Add to Cart</button>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="images/whiskeyCategory/glenmoriange.jpeg" alt="">
                <div class="overlay">
                    <p>price</p>
                    <h1>&#8358 120000</h1>
                </div>
            </div>
            <h3>glemoriange</h3>
            <button class="add-to-cart-btn" data-index="3">Add to Cart</button>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="images/whiskeyCategory/glienfiddich.webp" alt="">
                <div class="overlay">
                    <p>price</p>
                    <h1>&#8358 78000</h1>
                </div>
            </div>
            <h3>glenfiddich</h3>
            <button class="add-to-cart-btn" data-index="4">Add to Cart</button>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="images/whiskeyCategory/chivas%20regal.jpeg" alt="">
                <div class="overlay">
                    <p>price</p>
                    <h1>&#8358 21000</h1>
                </div>
            </div>
            <h3>chivas regal</h3>
            <button class="add-to-cart-btn" data-index="5">Add to Cart</button>
        </div>

    </div>

</section>



<!-- Cart Dialog -->
<div id="cartModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeCartDialog()">&times;</span>
        <h2>Cart</h2>
        <div id="cart-items">
            <p>Your cart is empty.</p>
        </div>


        <!-- User Information Form -->
        <form id="user-form">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" required>
            </div>
            <p class="total-amount">Total Amount to be Paid</p>
            <span id="total-amount">$0</span>
        </form>

        <!-- Buttons -->
        <button onclick="closeCartDialog()" class="btn2">Continue Shopping</button>
        <button onclick="checkout()" class="btn2">Checkout</button>
    </div>
</div>

<section class="footer">

    <div>
        <p class="credit">powered by | <span class="idea"> ideaEngines </span> </p>
    </div>
</section>
<script src="js/whiskey.js"></script>
</body>
</html>